/* General */
html {
    font-size: 12px;
    line-height: 25px;
    font-family: "Microsoft YaHei", Helvetica, sans-serif;
}

body {
    width: 1440px;
    margin: 0 auto;
    background: url("../img/body-bg.jpg") no-repeat center 0px;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 995px;
    margin: 0 auto;
}

.clearfix:after {
    content: " ";
    clear: both;
    visibility: hidden;
    display: block;
}


/* HEADER */
.logo {
    padding-top: 10px;
    float:left;
}

.top-right {
    padding-top: 15px;
    float: right;
}

.lang {
    text-align: right;
}

.lang a {
    padding-left: 25px;
    color: #232323;
}

.lang a:hover {
    text-decoration: underline;
}

.cn- {
    background: url("../img/cn-.png") no-repeat;
}

.en- {
    background: url("../img/en-.png") no-repeat;
}

.tel {
    margin-top: 25px;
}

.tel span {
    color: #696969;
    font-size: 1.2em;
}


/*  NAV   */
nav {
    background: url("../img/nav-bg.png") repeat-x;
    height: 32px;
    padding-bottom: 11px;
}

nav ul {
    margin: 0 auto;
    width: 776px;
    background: url("../img/nav-ul-bg.png") no-repeat;
    height: 32px;
    padding-left: 75px;
}

nav ul li {
    /* display: inline-block; */
    float: left;
    border-left: 1px solid #6a98d7;
}

nav ul li:hover {
    background-color: #234d8e;
}

nav ul li:last-child {
    border-right: 1px solid #6a98d7;
}
nav ul li a{
    height: 31px;
    line-height: 31px;
    text-align: center;
    padding: 0 2em;
    color: #fff;
}

/* BANNER  */


/*  MAIN WRAPPER */

.wrapper {
    margin-top: 20px;
}


.outer-wrapper {
    width: 75%;
    border-right: 1px solid #000;
    padding-right: 5px;
    float: left;
}

.wrapper-caption {
    width: 100%;
}

.wrapper-caption p {
    background: url("../img/caption-bg.png") no-repeat 0% 40%;
    padding-left: 1em;
    font-size: 1.2em;
    height: 1.4em;
    line-height: 1.4em;
    float: left;
    margin: 0;
}

.wrapper-caption a {
    background: url("../img/more.png") no-repeat;
    display: inline-block;
    width: 39px;
    height: 11px;
    float:right;
    margin-top:4px;
}

.product-unit {
    float: left;
    width: 170px;
    height: 180px;
    border: 3px solid #71aede;
    text-align: center;
    margin:5px;
}

.product-unit p {
    margin: 0;
}

.product-unit a:hover {
    text-decoration: underline;
}

.catalogue {
    float: left;
    width: 23%;
    padding-left: 5px;
}

.cat-content {
    font-size: 125%;
}

.cat-content li a {
    background-color: #ededed;
    background-repeat: no-repeat;
    display: block;
    text-align: left;
    margin: 10px;
    height: 37px;
    line-height: 37px;
}

.cat-content li a:hover {
    text-decoration: underline;
}

.cat-content li a.main {
    background-image: url("../img/main-ul-bg.png");
    padding-left: 30px;
    background-position: 5% 50%;
    color: #1579c6;
}

.cat-content li a.sub {
    background-position: 15% 50%;
    padding-left: 45px;
    background-image: url("../img/a-sub-bg.png");
    color: #000;
}
.main-li {

    padding-left: 25px;
    margin-left: 25px;
}



/*  FOOTER  */
footer {

}

.footer {
    padding: 5px;
    font-size: 120%;
}

.light-blue {
    background-color: #165898;
    height: 10px;
}

.footer-container img {
    margin-top: 10px;
}

.footer-text {
    float:left;
    margin-left: 20px;
    color: #165898;
    font-size: 133%;
}
/*
.copy {
    background-color: #151515;
    height: 42px;
    line-height: 42px;
    color: #797979;
}
*/

/* SideBar Content */
.side-content {
    background-image: url("../img/side-content-bg.jpg");
    background-repeat: no-repeat;
    width: 201px;
    height: 216px;
    padding-left: 10px;
    padding-top: 5px;
}

.side-content p {
    margin: 3px 0;
}

.side-content p:first-child {
    font-weight: bold;
    font-size: 120%;
}





/*About.html*/
.left {
    width: 220px;
    float: left;
    margin-top: 20px;
}

.right {
    width: 740px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.child-container {
    font-family: "Microsoft YaHei", sans-serif,Helvetica;
    width: 95%;
    margin: 0 auto;
}

.child-container-title span {
    font-size: 150%;
    background-image: url('../img/title-bg.png');
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 25px;
}

.position {
    float: right;
    display: none;
}

.child-container-main p {
    font-size: 120%;
    text-indent: 2em;
}